GEMINI_KEY=XXXXX
OPENAI_KEY=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
BOT_ACTIVE=openai # geminiai || openai
PORT=3000
